button {
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 1em;
    padding: 0;
}

.expand-button-icon {
    position: 'absolute';
    display: block;
    left: 0;
    top: 0;
    min-width: 2em;
    height: auto;
    flex-shrink: 0;
    transform: rotate(180deg);
}