#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: (1fr, auto);
}

.info-container {
  width: clamp(350px, 500px, 50vw);
}
